* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.container{
    /* border: 2px solid black; */
    border-radius: 20px;
    background-color: cyan;
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.75);
}

#tela{
    width: 200px;
    height: 200px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 100px;

}

button{
    padding: 20px;
    border-radius: 10px;
    font-size: 40px;
    margin: auto 20px;
    box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.75);
}

button:nth-child(even){
    background-color: cadetblue;
}

button:nth-child(odd){
    background-color: chartreuse;
}

button img{
    width: 100px;
}